<nav>
  <h1>Studio.io</h1>
  <div>
    <ul>
      <li><a href="#" class="pointer link">Chi sono</a></li>
      <li><a href="#" class="pointer link">Cosa puoi trovare</a><li>
      <li><a href="#" class="pointer link">API</a></li>
    </ul>
    <div>
      <button class="pointer" id="signIn">Sign in</button>
      <button class="pointer" id="signUp">Sign up</button>
    </div>
  </div>
  <img id="imgTendina" class="pointer" src="/static/img/menu.png"> 
</nav>
<div id="menuTendinaSiteHome">
  <div>
    <ul>
      <li>Chi sono</li>
      <li>API</li>
    </ul>
  </div>
</div>
