@media (max-width: 1600px){
  #divEsempioServer{
    display: block;
    margin-top: 100px;
  }
  #divEsempioServer:nth-child(1){
    margin-top: 0;
  }

  #itemEsempioCodice{
    display:none
  }
  #containerHeroLinguaggi{
    display: none;
  }

}

@media (max-width: 1200px){
  section {
    height: 200vh;
  }
  #divHero{
    left: 2%
  }
  #divHeroTech{
    flex-direction: column;
    margin: 0 30px 100px 30px;
  } 
  #containerHeroLinguaggi{
    bottom: -500px;
  }
}



@media (max-width: 850px) {
  /*Fare qualcosa al navbar -> aggiunta menu a tendina*/
  #divHero{
    top: 5%;
  }
  nav div{
    display: none
  }
  nav img{
    display: block
  }
  #menuTendinaSiteHome{
    display: block;
    background-color: #fff; 
    color: #000; 
    width: 100vw; 
    height:0; 
    z-index: 1; 
    position: relative
  }
  #menuTendinaSiteHome div{
    height: 100%
  }
  #menuTendinaSiteHome div ul{
    display: flex; 
    flex-direction: column; 
    margin:0; 
    justify-content: space-around; 
    align-items: center; 
    height: 100%;
  }
  #cardHeroCodice{
    display: none
  }
}

@media (max-width: 400px){
  #titleHero{
    font-size: 40px
  }
  #divEsempioServer{
    margin-top: 200px;
  }
  #containerLoghiLinguaggi{
    margin-left: 5%;
  }
  .textEsempioServer{
    margin-left: 20px;
    width: 80%;
  }

}
